rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Geliştirme aşaması için: Giriş yapmış herkes her şeyi okuyabilsin.
    // Bu, admin panelinin kullanıcıyı tanıyamama sorununu çözecektir.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}